---
import Layout from "../layouts/Layout.astro"
import { Image } from "astro:assets"
---

<Layout
  title="ZB1 Archive"
  description="Explore Zerobaseone's media archive! Find TikTok, YouTube videos, variety shows, Weverse Lives & performances with smart search & sort feature for zeroses!"
>
  <section class="text-center">
    <p>insert archive here</p>
  </section>
</Layout>
