<div class="navbar bg-transparent px-0 py-5">
  <div class="navbar-start">
    <a href="/" class="inline-block w-24">
      <img src="/logo.svg" alt="Zb1" class="h-full w-full object-contain" />
    </a>
  </div>
</div>
